<div class="p-3">
      <h2>My contact list</h2>

  <div class="d-flex justify-content-end mb-3">
    <button type="button" class="btn btn-success">
      <em class="fas fa-plus"></em>&nbsp;New contact
    </button>
  </div>

  <div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">IBAN</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

